/* -------------- Width Height -------------- */

div {
    height: 200px;
    width: 50%;
    background-color: powderblue;


    max-width: 500px;                       /* Resize the browser window to check effect */      
    height: 100px;  
    background-color: blueviolet;
}

