/* ----------------- Font ----------------- */

p {    
    font-family: Garamond, serif;
    font-family: Georgia, serif;
    font-family: 'Times New Roman', serif;
    font-family: "Times New Roman", Times, serif;

    font-family: 'Trebuchet MS', sans-serif;
    font-family: Tahoma, sans-serif;
    font-family: Arial, Helvetica, sans-serif;
    font-family: Tahoma, Verdana, sans-serif;
    
    font-family: 'Courier New', monospace;
    font-family: "Lucida Console", "Courier New", monospace;

    font-family: 'Brush Script MT', cursive;
    font-family: Copperplate, Papyrus, fantasy;


    /* <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Sofia"> */
    font-family: "Sofia", sans-serif;
    
    /* <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Trirong"> */
    font-family: "Trirong", serif;

    /* <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Audiowide"> */
    font-family: "Audiowide", sans-serif;

    /* <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Sofia&effect=fire"> */
    /* <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Sofia&effect=neon|outline|emboss|shadow-multiple"> */
    /* class="font-effect-fire" */  
    /* class = "font-effect-neon" */
    /* class="font-effect-outline" */
    /* class="font-effect-emboss" */
    /* class="font-effect-shadow-multiple" */
    font-family: "Sofia", sans-serif;


    font-style: normal;
    font-style: italic;
    font-style: oblique;

    font-weight: normal;
    font-weight: bold;

    font-variant: normal;
    font-variant: small-caps;

    font-size: 30px;

    font-size: 1.875em;             /* 30px/16=1.875em */
    font-size: 2.5em;               /* 40px/16=2.5em */

    font-size: 100%;

    font-size:10vw;                 /* 1vw = 1% of viewport width */

    font: 20px Arial, sans-serif;
    font: italic small-caps bold 12px/30px Georgia, serif;          /* Size(12px) - Line Height (30px) */


}