/* ----------- Overflow ------------ */

p {
    background-color: #eee;
    width: 200px;
    height: 50px;
    border: 1px dotted black;
    

    overflow: visible;
    overflow: hidden;
    overflow: scroll;
    overflow: auto;
    overflow-x: hidden;
    overflow-y: scroll;

}
