/* --------------- Pseudo Elements ---------------- */

p::first-line {
    color: #ff0000;
}


p::first-letter {
    color: #ff0000;
    font-size: xx-large;
}


h1::before {
    content: url(smiley.gif);
}

h1::after {
    content: url(smiley.gif);
}

/* Use in list */
::marker {
    color: red;
    font-size: 23px;
}

/* Select some text on this page */
::selection {
    color: red;
    background: yellow;
}

/* unvisited link */
a:link {
    color: #FF0000;
  }
  
  /* visited link */
  a:visited {
    color: #00FF00;
  }
  
  /* mouse over link */
  a:hover {
    color: #FF00FF;
  }
  
  /* selected link */
  a:active {
    color: #0000FF;
  }

/* Note: a:hover MUST come after a:link and a:visited in the CSS definition in order to be effective! a:active MUST come after a:hover in the CSS definition in order to be effective! Pseudo-class names are not case-sensitive. */