
/* The [attribute] selector is used to select elements with a specified attribute. */
/* The [attribute="value"] selector is used to select elements with a specified attribute and value. */
input[type="button"] {
    width: 120px;
    margin-left: 35px;
    display: block;
} 

/* Select all a tag with target attribute */
a[target] {
    background-color: yellow;
  }

/* <img src="img_tree.gif" title="best flower" width="224" height="162"> */
[title~=flower] {
    border: 5px solid yellow;
}


/* The [attribute|="value"] selector is used to select elements with the specified attribute, whose value can be exactly the specified value, or the specified value followed by a hyphen (-). */
/* <h1 class="top-header">Welcome</h1> */
h1[class="text"] {
    width: 150px;
    display: block;
    margin-bottom: 10px;
    background-color: yellow;
}
/* or */
[class|="top"] {
    background: yellow;
  }

/* The [attribute^="value"] selector is used to select elements with the specified attribute, whose value starts with the specified value. */

[class^="top"] {
    background: yellow;
}

/* The [attribute$="value"] selector is used to select elements whose attribute value ends with a specified value. */
[class$="test"] {
    background: yellow;
}


