
div {
    transition: width 2s;
    transition: width 2s, height 4s;
    
    transition-delay: 1s;

    transition-timing-function: linear;     /* same speed from start to end */
    transition-timing-function: ease;       /* slow start, then fast, then end slowly (this is default) */
    transition-timing-function: ease-in;    /* slow start */
    transition-timing-function: ease-out;    /* slow End */
    transition-timing-function: ease-in-out;    /* slow start and end */

    transition: width 2s, height 2s, transform 2s;
}

div:hover {
    width: 300px;
    height: 300px;

    transform: rotate(180deg);
}

/* Example 1 */
div {
    width: 100px;
    height: 100px;
    background: red;
    transition: width 2s;
    transition-delay: 1s;
}
div:hover { width: 300px; }

/* Example 2 */
div {
    width: 100px;
    height: 100px;
    background: red;
    transition: width 2s, height 4s;
}  
div:hover {
    width: 300px;
    height: 300px;
}

/* Example 3 */
div {
    width: 100px;
    height: 100px;
    background: red;
    transition: width 2s;
  }
  
#div1 {transition-timing-function: linear;}
#div2 {transition-timing-function: ease;}
#div3 {transition-timing-function: ease-in;}
#div4 {transition-timing-function: ease-out;}
#div5 {transition-timing-function: ease-in-out;}

/* Example 4 */
div {
    width: 100px;
    height: 100px;
    background: red;
    transition: width 2s, height 2s, transform 2s;
}
  
div:hover {
    width: 300px;
    height: 300px;
    transform: rotate(180deg);
}