

/* Example 1 */
@keyframes example {
    from {background-color: red;}
    to {background-color: yellow;}
}

@keyframes example2 {
    0%   {background-color: red;}
    25%  {background-color: yellow;}
    50%  {background-color: blue;}
    100% {background-color: green;}
}

/* Example 3 */
@keyframes example3 {
    0%   {background-color:red; left:0px; top:0px;}
    25%  {background-color:yellow; left:200px; top:0px;}
    50%  {background-color:blue; left:200px; top:200px;}
    75%  {background-color:green; left:0px; top:200px;}
    100% {background-color:red; left:0px; top:0px;}
}
div {
    width: 100px;
    height: 100px;
    background-color: red;
    position: relative;

    animation-name: example;
    animation-duration: 4s;
    animation-delay: 2s;
    animation-iteration-count: 3;
    animation-iteration-count: infinite;
    animation-direction: reverse;
    animation-direction: alternate;
    animation-direction: alternate-reverse;

    animation-timing-function: linear;
    animation-timing-function: ease;
    animation-timing-function: ease-in;
    animation-timing-function: ease-out;
    animation-timing-function: ease-in-out;

    animation-fill-mode: forwards;
    animation-fill-mode: backwards;
    animation-fill-mode: both;
    
    animation: example 5s linear 2s infinite alternate;
}

/* Syntax */
/* animation: name duration timing-function delay iteration-count direction fill-mode; */