/* Example 1 */
@media screen and (min-width: 480px) {
    body {
      background-color: lightgreen;
    }
}


/* Example 2 */
body {
    background-color: tan;
}
@media screen and (max-width: 992px) {
    body {
    background-color: blue;
    }
}
@media screen and (max-width: 600px) {
    body {
    background-color: olive;
    }
}

